{% load static %}
{% block content %}
{% include 'header.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  </head>

<div class="">
<h1 class="text-center bg-primary text-white ">
 <i>About</i>  </h1><br><br>
        <div class="container">   <div class="row">
<h1  class="col-12 col-md-12 text-center">Our Mission</h1>
            <p>Education literally means the things a person learns by being taught.
So, the definition of a good education would be the things a person learns by being taught well. But what exactly does that mean? No one has ever told you that, right. To me a good education is basically achieved when a person has a general to specific knowledge of the things that have happened in the world, things that could happen in the future of the world, how to communicate with others, and how to live safely in the world today....</p>
<div id="carouselExampleControls" class="carousel slide h-50" data-bs-ride="carousel"height="100px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{%static '/img/ssss.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{%static '/img/download.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{%static '/img/download (2).jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


</div></div><br><br>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Importance of Education in Life
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">First of all, Education teaches the ability to read and write. Reading and writing is the first step in Education. Most information is done by writing. Hence, the lack of writing skill means missing out on a lot of information. Consequently, Education makes people literate.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Importance of Education in Society
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Education helps in spreading knowledge in society. This is perhaps the most noteworthy aspect of Education. There is a quick propagation of knowledge in an educated society. Furthermore, there is a transfer of knowledge from generation to another by Education.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         Means of communication
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Better Communication is yet another role in Education. Education improves and refines the speech of a person. Furthermore, individuals also improve other means of communication with Education.</div>
    </div>
  </div>
</div>
 <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
        Technology
      </button>
    </h2>
    <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Education makes an individual a better user of technology. Education certainly provides the technical skills necessary for using technology. Hence, without Education, it would probably be difficult to handle modern machines.</div>
    </div>
  </div>
     <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
        Sophistication
      </button>
    </h2>
    <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> People become more mature with the help of Education. Sophistication enters the life of educated people. Above all, Education teaches the value of discipline to individuals. Educated people also realize the value of time much more. To educated people, time is equal to money.</div>
    </div>
  </div>




</div><br><br>














  <div  class="container text-center text-dark">
      <div class="row">
      <h1 >Our offerings</h1>
<div class="alert alert-danger" role="alert">
 Education certainly determines the quality of an individual's life. Education improves one's knowledge, skills and develops the personality and attitude. Most noteworthy, Education affects the chances of employment for people. A highly educated individual is probably very likely to get a good job.
</div>


          <br>
  </div></div><br><br>








<div class="text-center text-dark">

    <h1 class="text-primary" ><i>Our Approach To Education</i></h2>
<br>
    <h1>Good Quality Teaching<span class="badge bg-secondary">Chemistry</span></h1>
<h2>Good Quality Teaching<span class="badge bg-secondary">Physics</span></h2>
<h3> Good Quality Teaching<span class="badge bg-secondary">Biology</span></h3>
<h4> Good Quality Teaching<span class="badge bg-secondary">English</span></h4>
<h5>Good Quality Teaching <span class="badge bg-secondary">History</span></h5>
<h6> Good Quality Teaching<span class="badge bg-secondary">Maths </span></h6>
</div><br>
{% load static %}
<div class="container text-dark">
    <div class="row">
    <h2>
Connect</h2>
    <p>We understand healthcare goes beyond signs, symptoms, diagnosis, and treatment. It’s about the deep connection between doctors and patients that leads to continuous care and sustained, better outcomes.</p>

    <img src=" {% static '/img/(1).jpg' %}"width="250px"height="250px">
    </div></div>
<div class="container text-dark ">
     <div class="row">
    <h2>Trust</h2>
    <p>Practo works on trust. We are aware of the responsibility placed on us by 30 crore+ patients and over a lakh doctors. We always have and always will do everything we possibly can to uphold this trust.</p>
<img  src=" {% static '/img/ggggg.png' %}"width="250px"height="200px">

     </div></div>
<div class="container text-dark">
     <div class="row">
    <h2>Transparency</h2>
    <p>We believe in full disclosure. We believe in communicating openly and honestly, and holding ourselves to the highest ethical standards.</p>
<img src=" {% static '/img/jjjj.jpg' %}"width="350px"height="250px">
     </div><br><br><br><br>

<p class="text-center">"The education system is mainly divided into pre-primary, primary, elementary and secondary education, which is followed by higher studies. However, there are many drawbacks and loopholes in this system which if curbed can work for the overall development of the country."</p>


</div><br><br><br><br><br>  </div>











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>




{% include 'footer.html' %}
{% endblock %}