
{% load static %}
{% block content %}
{% include 'header.html' %}


 <!-- Facilities Start -->
 <div class="container-fluid pt-5">
    <div class="container pb-3">
        <div class="row">
            {% for i in reviews %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px;">
                    <i class="flaticon-019-pencil h1 font-weight-normal text-primary mb-3"></i>
                    <div class="pl-4">
                        <h4>{{i.name}}</h4>
                        <p>{{i.user}}  {{i.r_date}}</p>
                        <p class="m-0">{{i.message}}</p>
                        <br>
                        <a href="{% url 'delete_review' id=i.id %}" class="btn btn-primary px-4 mx-auto mb-4" style="background-color: red;">Delete</a>

                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Facilities Start -->


{% include 'footer.html' %}
{% endblock %}