{% load static %}
{% block content %}
{% include 'header.html' %}
   
   
   <!-- Class Start -->
    <div class="container-fluid pt-5" >
 
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Popular Classes</span></p>
                <h1 class="mb-4">Classes for Your Kids</h1>
            </div>
          <div align="center">
                <div class=" "style="width: 80vh;"   >
                    <div class="card border-0 bg-light shadow-sm pb-2" >
                        <div class="position-relative  mb-4" style="border-radius: 100%; margin-top: 20px;">
                           <img class="img-fluid " src="{{t.image.url}}"   style="width: 200px;">
                        </div>
                        <div class="card-body text-center">
                         
                            <h4 class="card-title">{{t.name}}</h4>
                            <!-- <p class="card-text">Justo ea diam stet diam ipsum no sit, ipsum vero et et diam ipsum duo et no et, ipsum ipsum erat duo amet clita duo</p> -->
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5">
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Email </strong></div>
                                <div class="col-6 py-1">{{t.email}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Age </strong></div>
                                <div class="col-6 py-1">{{t.age}} Years</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Place</strong></div>
                                <div class="col-6 py-1">{{t.place}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Subject</strong></div>
                                <div class="col-6 py-1">{{t.subject}}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Experiance</strong></div>
                                <div class="col-6 py-1">{{t.experience}} Years</div>
                            </div>
                            <div class="row">
                                <div class="col-6 py-1 text-right border-right"><strong>Tution Fee</strong></div>
                                <div class="col-6 py-1">${{t.fee}} / Hour</div>
                            </div>
                        </div>
                        <a href="{% url 'book_teacher' id=t.id %}" class="btn btn-primary px-4 mx-auto mb-4">Book Now</a>
                    </div>
                </div>
            </div>
            <!-- comment  Start -->
            <div class="container-fluid pt-5">
                <div class="container">
                    <div class="text-center pb-2">
                        <!-- <p class="section-title px-5"><span class="px-2">Get In Touch</span></p> -->
                        <h1 class="mb-4">Text Your Comment</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 mb-5">
                            <div class="contact-form">
                                <div id="success"></div>
                                <form method="POST" action="sent_comment" >
                                    {% csrf_token %}
                                    <div class="control-group">
                                        <input type="text" class="form-control" name="t_id" value="{{t.id}}" placeholder="teacher id" hidden readonly />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    
                                    <div class="control-group">
                                        <textarea class="form-control" rows="6" id="message" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div>
                                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- comment End -->

            <!-- comment show start -->
            <div class="container-fluid py-5">
                <div class="container p-0">
                    <div class="text-center pb-2">
                        <!-- <p class="section-title px-5"><span class="px-2">Testimonial</span></p> -->
                        <h1 class="mb-4">comments</h1>
                    </div>
                    <div class="owl-carousel testimonial-carousel">
                        {% for i in cmt %}
                        <div class="testimonial-item px-3">
                            <div class="bg-light shadow-sm rounded mb-4 p-4">
                                <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                                {{i.message}}                            
                            </div>
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="{% static 'img/profile.png' %}" style="width: 70px; height: 70px;" alt="Image">
                                <div class="pl-3">
                                    <h5>{{i.name}}</h5>
                                    <i>{{i.sdate}}</i>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- comment show End -->


    </div>
    <!-- Class End -->

{% include 'footer.html' %}
{% endblock %}